<nav class="navigation">
  <ul class="list">
    <li class="item">
      <a
        routerLink="/posts"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="link"
      >Статьи</a>
    </li>
    <li class="item">
      <a
        routerLink="/about"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="link"
      >О сайте</a>
    </li>
    <li class="item">
      <a
        routerLink="/contacts"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="link"
      >Контакты</a>
    </li>
  </ul>
</nav>