<li class="post">
  <mat-card class="container">
    <img mat-card-image
      src="https://img.freepik.com/free-photo/salt-crackers-orange-table_58702-1984.jpg?t=st=1725290489~exp=1725294089~hmac=f1a77cfc4b8e38af18f35f462c7407ad2575e46d80c4c98eb62a5b559e7223d9&w=1060"
      alt="Example image">
    <mat-card-header>
      <mat-card-title class="title">{{ postData.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="description">{{ postData.description }}</mat-card-content>
    <mat-card-footer class="date">{{ postData.dateOfExist }}</mat-card-footer>
  </mat-card>
</li>